<div class="jumbotron">
  <h1 class="display-4">Olá, administrador</h1>
  <p class="lead">Você logou como um perfil de alta prioridade</p>
  <hr class="my-4">
  <p class="lead">
    <a href="/admin/categorias"><button  class="btn btn-success m-5 " name="button">Categorias</button></a>
    <a href="/admin/postagens"><button  class="btn btn-success m-5 " name="button">Postagens</button></a>
  </p>
</div>
