<div class="card p-4">
  <h1>{{postagem.titulo}}</h1>
  <hr>
  <small> <strong>Data da categoria:</strong> {{postagem.date}}</small>
  <small> <strong>Categoria:</strong> {{postagem.categoria}}</small>
  <hr>
  <p style="text-indent: .6em">{{postagem.conteudo}}</p>

</div>
